<%- include('partials/head') %>

<body>
  <!-- When incorporating ejs syntax, it should be as dumb as possible. The logic below will be moved to the index.js file and then pass it back here.  -->
  <!-- <h1>Your random number is: <%= Math.floor(Math.random() * 10) + 1 %></h1> -->
  <h1>Your random number is: <%= num %></h1>
  <% if (num % 2 === 0) { %>
  <h2>That is an even number!</h2>
  <% } else { %>
  <h2>That is an odd number!</h2>
  <% } %>

  <!-- Ternary operator within ejs -->
  <h3>That number is: <%= num%2 === 0 ? 'EVEN' : 'ODD' %></h3>
</body>

<%- include('partials/footer') %>
